name: Github CI

on: [pull_request]

jobs:
  build:
    name: Build
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Install Android SDK
        uses: malinskiy/action-android/install-sdk@release/0.1.2
      - name: Build project
        run: ./gradlew assembleDebug
      - name: Run tests
        run: ./gradlew test
      - name: Run instrumentation tests
        uses: malinskiy/action-android/emulator-run-cmd@release/0.1.0
        with:
          cmd: ./gradlew connectedDebugAndroidTest
          api: 28
          tag: default
          abi: x86
      - name: Save Espresso output
        uses: actions/upload-artifact@master
        if: ${{ always() }}
        with:
          name: Rajawali-Espresso
          path: |
            artifacts/logcat.log
            screenshots/adb/
            ./**/build/reports/**/connected
          if-no-files-found: error
  check:
    name: Check
    runs-on: macOS-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: 11
      - name: Install Android SDK
        uses: malinskiy/action-android/install-sdk@release/0.1.2
      - name: Gradle checks
        run: ./gradlew check
      - name: Archive Lint report
        uses: actions/upload-artifact@v2.1.4
        if: ${{ always() }}
        with:
          name: Rajawali-Lint
          path: ./**/build/reports/lint-results.html
